<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        Recuperación de contraseña - SoundTribe
    </title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f5f5f5; padding: 20px;">
<div style="background-color: white; padding: 30px; border-radius: 10px; max-width: 600px; margin: auto; text-align: center;">
    <h1 style="color: #007bff;">
        ¿Olvidaste tu contraseña?
    </h1>

    <p style="font-size: 1.1em; color: #333;">
        ¡No te preocupes! podras cambiar a una nueva contraseña para que puedas acceder a tu cuenta:
    </p>

    <a th:href="${urlReset}"
       style="display: inline-block; margin-top: 20px; padding: 12px 24px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">
        Ir a restablecer contraseña
    </a>



    <hr style="margin: 30px 0;">

    <p style="font-size: 1rem; color: #666;">
        💡 Consejo: Usá una contraseña que incluya letras mayúsculas, minúsculas, números y un símbolo. Por ejemplo:
        <code>
            Guitarra#2024
        </code>
    </p>
    <p style="font-size: 0.9em; color: #666;">
        🔐 Evitá usar datos personales como tu nombre o fecha de nacimiento.
    </p>

    <p style="margin-top: 30px; font-size: 0.8em; color: #aaa;">
        Si no pediste este cambio, puedes ignorar este mensaje. Dentro de 30 minutos esta peticion expirará.
    </p>
</div>
</body>
</html>
